In [1]:
from openai import OpenAI
import sqlite3

In [2]:
APIKEY = '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'

In [3]:
client = OpenAI(api_key=APIKEY)

In [4]:
def text_tosql(question: str="") -> str:
    if not question:
        raise ValueError('Please enter a string')
    else:
        response = client.chat.completions.create(
            model="gpt-4o-mini",
            messages=[
                {"role": "system", "content": "You are an SQL expert. And to all the questions that I give you you will give only the SQL query and nothing else. Remove any other new line syntax like \n or any other stray strings or formatters"},
                {"role": "user", "content": f"Translate this into an SQL query: {question}"}
            ]
        )
    sql_query = response.choices[0].message.content
    return sql_query.strip()

In [5]:
question = "Name movie titles released in year 1945. Sort the listing by the descending order of movie popularity"
sql_tovalid = text_tosql(question)
sql_tovalid

'SELECT title FROM movies WHERE release_year = 1945 ORDER BY popularity DESC;'

### Validate the SQL syntax using sqlglot library

In [6]:
from sqlglot import *
import sqlglot

def validate_sql(sql_query):
    try:
        parsed = parse_one(sql_query)
        return (f"VALID QUERY --> {parsed.sql()}")
    except Exception as e:
        return (f'INVALID QUERY. Error  {str(e)}')

In [7]:
validate_sql(sql_query=sql_tovalid)

'VALID QUERY --> SELECT title FROM movies WHERE release_year = 1945 ORDER BY popularity DESC'

### Connect SQLite

In [8]:
conn = sqlite3.connect('test.db')  # Connect to a database file (it will be created if it doesn't exist)
cursor = conn.cursor()

In [9]:
# cursor.execute('''CREATE TABLE IF NOT EXISTS orders (id INTEGER PRIMARY KEY, date TEXT, amount REAL)''')
# cursor.execute("INSERT INTO orders (date, amount) VALUES ('2021-01-01', 100.0)")
# conn.commit()

cursor.execute('''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        email TEXT
    )
''')

In [10]:
cursor.execute("INSERT INTO users (name, email) VALUES ('Pat', 'pat123@gmail.com')")
conn.commit()

In [11]:
try:
    cursor.execute("SELECT * FROM users")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
except Exception as e :
    print(f"Error executing query: {e}")

(1, 'Pat', 'pat123@gmail.com')

In [12]:
conn.close()